.todosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.leftColumnContainer {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}

.todoList {
  max-height: 70vh;
  overflow: auto;
}