.cardContainer {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardContainer:hover {
  /* cursor: pointer; */
  background-color: #f1f1f1;
}

.title {
  /* border: 1px solid; */
  /* text-align: center; */
}

.task {
  text-align: left;
}

.completed {
  text-align: right;
}

.containerButton {
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid; */
  /* flex-wrap: wrap; */
  /* position: absolute; */
  /* top: 5px;
  right: 5px; */
}
.containerButton:hover {
  cursor: pointer;
  /* background-color: #f1f1f1; */
}